## Connection

In [18]:
import os

from dotenv import load_dotenv
import numpy as np
import pandas as pd
from sqlalchemy import create_engine


# creds from .env file
load_dotenv()

POSTGRES_HOST = os.getenv('POSTGRES_HOST')
POSTGRES_PORT = os.getenv('POSTGRES_PORT')
POSTGRES_USERNAME = os.getenv('POSTGRES_USERNAME')
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_DBNAME = os.getenv('POSTGRES_DBNAME')


# connection
try:
    conn = create_engine(f"postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DBNAME}")
    print('connected!')
except:
    print('Can`t establish connection to database')


# small function for selecting data
def select(sql):
    return pd.read_sql_query(sql, conn)

In [28]:
# checking
select(
    '''
SELECT
  email,
  signup_date,
  created_at
FROM users
    '''
)

                                email signup_date                 created_at
0     deborahmueller@collierlesch.net  2018-04-12 2018-04-12 05:07:09.967302
1                austin@jacobsryan.co  2018-03-13 2018-03-13 00:27:47.546850
2           estell@wintheiserkris.com  2018-04-07 2018-04-07 04:29:59.156679
3                buster@stiedemann.co  2018-01-05 2018-01-05 04:25:02.249932
4         tamarreynolds@krisfahey.biz  2018-08-04 2018-08-04 13:05:41.035596
...                               ...         ...                        ...
6077       cathrine@farrellbarton.org  2018-03-09 2018-03-09 03:54:57.000000
6078     clementjakubowski@grady.info  2018-03-07 2018-03-07 09:12:13.000000
6079       rustygreenholt@schuppe.org  2018-03-13 2018-03-13 14:57:10.000000
6080         chaseturcotte@fahey.name  2018-03-14 2018-03-14 17:01:06.000000
6081  selmakuvalis@armstrongtorphy.co  2018-03-10 2018-03-10 21:54:07.000000

[6082 rows x 3 columns]

In [29]:
select(
    '''
    select * from books;
    '''
)

,id,name,genre,pages_count,slug
0,4,The Doors of the Prophecy,Detective,247,the-doors-of-the-prophecy
1,5,The Silence's Name,Fairy tale,227,the-silence-s-name
2,6,The Game of the Boy,Fairy tale,468,the-game-of-the-boy
3,7,Obsessed Dreamer,Comic/Graphic Novel,341,obsessed-dreamer
4,8,The Person's Wind,Comic/Graphic Novel,352,the-person-s-wind
...,...,...,...,...,...
737,721,The Game of the Soaring,Science fiction,367,the-game-of-the-soaring
738,727,Hunter in the Butterfly,Classic,423,hunter-in-the-butterfly
739,733,Twinkling Ice,Comic/Graphic Novel,491,twinkling-ice
740,736,Worlds of Future,Nonfiction,447,worlds-of-future
741,742,Hunter in the Someone,Horror,560,hunter-in-the-someone